<h1>Enter login info</h1>
<form action="<%= session_url %>" method="POST">
  <p>email: <input type=text name=user[email]></p>
  <p>password: <input type=password name=user[password]></p>
  <input type=submit value="Login">
</form>